<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#  asset pointe directement dans le dossier public   #}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Todo</title>
</head>
<body>
    <div class="container">
        {% for message in app.flashes('infos') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <ol class="list-group">
            {% for todoName, todoValue in app.session.get('todos') %}
                <li class="list-group-item">
                    {{ todoName }}: {{ todoValue }}
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>