{% extends 'layout.html.twig' %}

{% block title %}
    Todo
{% endblock %}

{% block body %}
        <ol class="list-group">
            {% for todoName, todoValue in app.session.get('todos') %}
                <li class="list-group-item">
                    {{ todoName }}: {{ todoValue }}
                </li>
            {% endfor %}
        </ol>
{% endblock %}