{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-secondary">
        <p>Id : {{ person.id }}</p>
        <p>Name : {{ person.name }}</p>
        <p>Firstname : {{ person.firstname }}</p>
        <p>Age : {{ person.age }}</p>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

